pkgbase = gpd-pocket4-utils
	pkgdesc = Utilities for GPD Pocket 4: auto rotation, touchscreen calibration, fan control, and X11 configs
	pkgver = 1.2.0
	pkgrel = 1
	url = https://github.com/hitchhooker/gpd-pocket4-utils
	install = gpd-pocket4-utils.install
	arch = any
	license = MIT
	depends = bash
	depends = iio-sensor-proxy
	depends = xorg-xrandr
	depends = xorg-xinput
	depends = lm_sensors
	optdepends = gpd-fan-driver: kernel module for fan control
	optdepends = bspwm: for monitor hotplug desktop migration
	backup = etc/modprobe.d/alsa-gpd-pocket4.conf
	backup = etc/X11/xorg.conf.d/20-gpd-pocket4-amdgpu.conf
	backup = etc/X11/xorg.conf.d/80-gpd-pocket4-trackpoint.conf
	source = autorotate
	source = smoothfan
	source = monitor-hotplug
	source = gpd-pocket4-autorotate.service
	source = gpd-pocket4-fancontrol.service
	source = 95-monitor-hotplug.rules
	source = alsa-gpd-pocket4.conf
	source = 20-gpd-pocket4-amdgpu.conf
	source = 80-gpd-pocket4-trackpoint.conf
	sha256sums = 2aa2553154eb802204037ed62169cc109d25813e879bcd3b5bd8f260ed7c234b
	sha256sums = e3f0d5c028d8c2fbe4f53dff24ca9dadbbe16861fcb22732ccbbe9888dce643d
	sha256sums = 9a24222b3aef249d4e25a905848ef79e195c6ea3d2aece7b67f651dbd575b864
	sha256sums = 481f936529866fc95c037ee97b233e511e4ae6b8448664daa1a34da56d8fceb1
	sha256sums = c0ba0dca56f214e7162bc0bc7af15f402e31c55c975e7e5b4fca853d3620f182
	sha256sums = adb452ab49f3042545d11aaf96b0f18c4e8ae29dce3121e8dada3a82815631f2
	sha256sums = 60100b3af6b53c76a072d0f41be646cd812f089b5d87033957b55cc2615604c1
	sha256sums = dad1937c614e35d93886eecd9059e69b3762e977fcd9bc8db4e4a3efc69fad47
	sha256sums = c6135f3e429dfde6c5d2b9eb18fceb99a91c00a98fb0bb6d71c1b9cc36f1826f

pkgname = gpd-pocket4-utils
